<div class="container">
    <h3 class="mt-5">Pending Requests</h3>
    <div class="card mt-3 shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                     <thead>
                         <tr>
                             <th>S.No.</th>
                             <th>ID</th>
                             <th>Name</th>
                             <th>Phone</th>
                             <th>Email</th>
                             <th></th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td>1</td>
                             <td>001236</td>

                             <td>Test name</td>
                             <td>9966556655</td>
                             <td>yourname@example.com</td>
                             <td>
                                 <a class="btn btn-sm btn-primary" href="#">Approve</a>
                                 <a class="btn btn-sm btn-danger" href="#">Reject</a>
                             </td>
                         </tr>
                     </tbody>
                </table>
            </div>
        </div>
    </div>
</div>