<footer>
    <div class="footer-content">
        <div>
            Melathil Hardwares Copyright &copy; 2021
        </div>
        <div>
            Customer Relation Management System
        </div>
    </div>
</footer>